/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
b {
	font-weight: bold;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	width:100%;
	height:100%;
	background: url('images/crossword.png');
}

.clearFloat {
	clear: both;
}

/*Grid Implementation*/

.contentContainer { 
	position: relative; 
	width: 100%;
	//height: 90vh;
	padding-top: 100px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.row {
	clear: both;
}

.row > * {
	float:left;
}

.col12 	{ width: 100%; 		}
.col11	{ width: 91.6666%; 	}
.col10 	{ width: 83.3333%; 	}
.col9 	{ width: 75%;	 	}
.col8 	{ width: 66.6666%; 	}
.col7 	{ width: 58.3333%; 	}
.col6 	{ width: 50%;	 	}
.col5 	{ width: 41.6666%; 	}
.col4 	{ width: 33.3333%; 	}
.col3 	{ width: 25%; 		}
.col2 	{ width: 16.6666%; 	}
.col1 	{ width: 8.3333%; 	}

.content-box {
	margin-left: 10px;
	margin-bottom:50px;
}


/*Main Styling*/
body {
	font-family: "Roboto Slab", sans-serif;
	overflow-x:hidden;

	/*Disable highlighting with this*/
	//width:100%;
	//height:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", sans-serif;
	font-weight: bold;
}

a {
	font-family: "Roboto Slab", sans-serif;
	text-decoration: none;
	color: #6d6d6d;
}

header {
	position:fixed;
	left:0;
	top:0;
	height: 100px;
	width: 100%;
	background:rgba(93,93,93,0.8);
	z-index: 0;
}
	
	.headerContainer {
		max-width:1024px;
		margin: 0 auto;
	}

	header .logo {
		float:left;
		color: #FFFFFF;
		line-height: 100px;
		font-size: 25px;
		font-size: bold;
		margin-left: 20px;
		cursor:pointer;
	}

		header .logo:hover a,
		header .logo:hover a b {
			color: #72d0b9;
			font-weight: normal;
		}

		header .logo a {
			color: #FFFFFF;
		}

		header .logo b:first-child {
			margin-right:-3px;
		}

		header .logo b{
			color: #FFFFFF;
			line-height: 100px;
			font-size: 30px;
			font-weight: normal;
		}

	.navContainer {
		float:right;
		margin-right:10px;
	}

	.navContainer li {
		float: left;
		color: #FFFFFF;
		font-size: 15px;
		line-height: 30px;
		list-style: none;
		margin: 36px 0 0 15px;
		padding-right: 15px;
		cursor:pointer;
	}

		.navContainer li:hover a,
		#mobileDropdownIcon:hover a{
			color: #72d0b9;
 		}

		.navContainer li a {
			color:#FFFFFF;
		}

			.navContainer li a.active {
				color:#72d0b9;
			}

		#mobileDropdownIcon {
			display: none;
			font-size: 25px;
		}

	#mobileDropdown {
		display: none;
		height: 0;
		transition: 0.5s;
		overflow:hidden;
		float:right;
	}

		#mobileDropdown ul {
			float:right;
			width:180px;
		}

			#mobileDropdown li{
				text-align: right;
				background:rgba(93,93,93,0.8);
				padding: 10px 15px 10px 10px;
				cursor: pointer;
			}

				#mobileDropdown li a{
					color:#FFF;
				}

				#mobileDropdown li a.active {
					color:#72d0b9;
				}

				#mobileDropdown li:hover a{
					color:#72d0b9;
				}


.content {
	width:100%;
	height:100%;
	overflow-x:hidden;
}

	.page {
		position:absolute;
		width: 100%;
		height: 100%;
		z-index:-1;
		list-style: none;
		transition:2s;
	}

	#page1 {
		background:-moz-linear-gradient(
								left, rgba(161,196,166,1) 0%, 
								rgba(125,185,232,0) 98%
							);
		background:-webkit-gradient(
								linear, left top, right top, 
								color-stop(0%,rgba(161,196,166,1)), 
								color-stop(98%,rgba(125,185,232,0))
							);
		background:-webkit-linear-gradient(
								left, rgba(161,196,166,1) 0%,
								rgba(125,185,232,0) 98%
							); 
		background: -o-linear-gradient(
								left, rgba(161,196,166,1) 0%,
								rgba(125,185,232,0) 98%
							);
		left:0%;
	}
	#page2 {
		//background: rgba(221,244,203,0.2);
		left:100%;
	}
	#page3 {
		//background: rgba(242,226,203,0.2);
		left:200%;
	}
	#page4 { 
		background:-moz-linear-gradient(
							left, rgba(30,87,153,0) 2%, 
							rgba(161,196,166,1) 100%
						);
		background: -webkit-gradient(
							linear, left top, right top, 
							color-stop(2%,rgba(30,87,153,0)), 
							color-stop(100%,rgba(161,196,166,1))
						);
		background: -webkit-linear-gradient(
							left, rgba(30,87,153,0) 2%,
							rgba(161,196,166,1) 100%
						);
		background: -o-linear-gradient(
							left, rgba(30,87,153,0) 2%,
							rgba(161,196,166,1) 100%
						);
		left:300%;
	}
	#page5 { 
		background: rgba(0,209,164,1); 
		left:400%;
	}
	#page6 { 
		background: rgba(17,209,0,1); 
		left:500%;
	}
	#page7 { 
		background: rgba(174,209,0,1); 
		left:600%;
	}
	#page8 { 
		background: rgba(209,132,0,1); 
		left:700%;
	}


/*PAGE 1 - HOME*/
#page1 .picture {
	margin-top: 100px;
	text-align:center;
}
	
	#page1 .picture img {
		width:180px;
		//border: 5px solid #4d4d4d;
		border-radius: 20px;
	}

#page1 .name {
	font-size: 80px;
	line-height: 90px;
	margin-top:10px;
	text-align:center;
	font-weight: bold;
	color:#3d3d3d;
}

#page1 .subtitle {
	font-size:21px;
	line-height:30px;
	color:#3d3d3d;
	text-align: left;
	width:222px;
	margin:0 auto;
}

#page1 .description {
	text-align: center;
	margin-bottom:100px;
}

#page1 .description p {
	width: 400px;
	margin: 0 auto;
	margin-top:70px;
	text-align:left;
	font-size: 16px;
	line-height:20px;
	margin-bottom:10px;
}

	#page1 .description a {
		width: 100%;
		font-size: 20px;
		font-weight: bold;
	}

/*PAGE 3*/
#page3 #contentRow {
	margin: 5px 10px 100px 0;
}

#page3 .timeline {
	position:absolute;
	width:100%;
	height: 239px;
	border-bottom: 3px solid #9f9f9f;
	z-index:-2;
}

#page3 .bubble {
	float:left;
	position:relative;
	width:100px;
	height:100px;
	border-radius: 50px;
	background: rgba(240,240,240,0.9);
	transition: 0.2s;
	margin-top: 20px;
	margin-left: 5%;
}

	#page3 .bubble.toggle {
		width: 250px;
		height: 270px;
		border-radius: 10px;
		border-top-left-radius: 50px;
	}

	#page3 .needle {
		position: absolute;
		left: 48px;
		text-align:left;
		top: 100px;
		height: 115px;
		border-right: 3px solid #9f9f9f;
		box-shadow: 3px 0px 3px -3px #888888;
		z-index:-1;
		transition:0.2s;
	}

		#page3 .needle .pointer {
			float:left;
			position: absolute;
			bottom: -17px;
			left: -11px;
			width: 16px;
			height: 16px;
			border-radius: 10px;
			background: #6d6d6d;
			border: 4px solid #FFF;
			box-shadow: 2px 2px 2px #888888;
			transition:0.2s;
		}

	#page3 .thumbnail {
		float:left;
		width:98px;
		height:98px;
		border: 1px solid #FFF;
		border-radius:49px;
		overflow: hidden;
		box-shadow: 3px 3px 3px #888888;
	}

		#page3 .thumbnail img {
			width:100%;
		}

	#page3 .bubbleContent {
		position:absolute;
		width:210px;
		height: 0;
		opacity: 0;
		overflow: hidden;
		margin: 10px 20px 10px 20px;
		transition: 0.0s;
		transition-delay:0.0s;
		
	}

	#page3 .bubble.toggle .bubbleContent {
		height: 180px;
		opacity:1;
		display:block;
		transition: 0.2s;
		transition-delay:0.2s;
	}

	#page3 .header {
		position:absolute;
		width:0;
		margin-left: 10px;
		left: 100px;
		overflow: hidden;
		font-size: 15px;
		font-weight: bold;
		line-height: 18px;
		margin-top:41px;
		transition: 0.0s;
		transition-delay:0.0s;
	}

	#page3 .bubble.toggle .header {
		width:120px;
		transition: 0.2s;
		transition-delay:0.2s;
	}

	#page3 .bubbleContent .description {
		margin-top:10px;
		margin-bottom:20px;
		font-size: 15px;
		line-height: 18px;
	}

	#page3 .bubble.bottom,
	#page3 .bubble.botTag {
		margin-top: 353px;
	}

	#page3 .bubble.bottom .needle,
	#page3 .bubble.botTag .needle {
		top:-115px;
	}

	#page3 .bottom .needle .pointer,
	#page3 .botTag .needle .pointer {
		bottom: auto;
		top: -10px;
	}

	/*Bubble specific CSS*/
	#bubbleIBM .thumbnail { background: #FFF; }
	#bubbleIBM img{ margin-top: 28px; }

	#bubbleOEC .thumbnail { background: #FFF; }
	#bubbleOEC img{ margin-top: 7px; }
	#bubbleOEC .header {
		margin-top: 21px;
	}

footer {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0px;
	height: 70px;
	background:rgba(93,93,93,0.8);
}
	
	.footerContainer {
		max-width: 1024px;
		margin: 0 auto;
		line-height: 70px;
		text-align:center;
	}

		.footerContainer .icon a {
			font-size: 30px;
			color: #FFF;
		}

			.footerContainer .icon a:hover {
				color:#72d0b9;
			}

/*RWD*/
@media(max-height:825px),(max-width: 750px) {
	header {
		height: 50px;
	} 

	header .logo {
		line-height: 50px;
		font-size: 20px;
		margin-left: 15px;
	}

		header .logo b:first-child {
			margin-right:-3px;
		}

		header .logo b{
			line-height: 50px;
			font-size: 25px;
		}

	.navContainer li {
		font-size: 13px;
		line-height: 25px;
		list-style: none;
		margin: 13px 0 0 15px;
		padding-right: 10px;
	}

	.contentContainer {
		padding-top:50px;
	}

	#page1 .picture {
		margin-top:50px;
	}

	footer {
		height: 50px;
	}

		.footerContainer {
			line-height: 50px;
		}
}

@media(max-height:750px),(max-width: 750px) {
	#page3 .bubble.botTag {
		margin-top: 20px;
	}

	#page3 .bubble.botTag .needle {
		top:80px;
	}

	#page3 .botTag .needle .pointer {
		bottom: auto;
		top: 70px;
	}
}

@media(max-width:750px), (max-height:600px) {

	#page3 #contentRow {
		margin: 0px 10px 50px; 0;
	}

	#page3 .timeline {
		height:180px;
	}

	#page3 .bubble,
	#page3 .bubble.botTag {
		width:80px;
		height:80px;
	}

		#page3 .bubble.toggle {
			width: 200px;
			height: 270px;
		}

	#page3 .thumbnail {
		width:78px;
		height:78px;
		border-radius:39px;
	}

	#page3 .needle,
	#page3 .bubble.botTag .needle {
		height:75px;
		left: 39px;
		top: 80px;
	}

	#page3 .bubbleContent{
		width:180px;
		margin:10px;
	}

		#page3 .bubble.toggle .bubbleContent {
			height: 200px;
		}

	#page3 .header {
		margin-top: 35px;
		font-size: 13px;
		left: 80px;
	}

	#page3 .bubbleContent .description {
		font-size:13px;
	}

	#page3 .bubble.bottom .needle {
		top: -75px;
	}

	#page3 .bubble.bottom  {
		margin-top: 254px;
	}


	#bubbleIBM img {
		margin-top: 24px;
	}

	#page3 #bubbleOEC .header {
		margin-top: 14px;
	}
}

@media(max-width: 600px), (max-height:600px) {


	header {
		height: 50px;
	} 

	header .logo {
		line-height: 50px;
		font-size: 20px;
		margin-left: 15px;
	}

		header .logo b:first-child {
			margin-right:-3px;
		}

		header .logo b{
			line-height: 50px;
			font-size: 25px;
		}

	.navContainer li {
		font-size: 13px;
		line-height: 25px;
		list-style: none;
		margin: 13px 0 0 15px;
		padding-right: 10px;
		display: none;
	}

	#mobileDropdownIcon {
		 display: block;
	}

	#mobileDropdown {
		display: block;
		height: 0px;
	}

	#mobileDropdown.toggle {
		height:108px;
	}

	.contentContainer {
		padding-top:50px;
	}

	.content-box {
		margin-bottom:20px;
	}

	#page1 .picture {
		margin-top:10px;
	}

	#page1 .picture img {
		margin-top:10px;
		width:120px;
	}

	#page1 .name {
		font-size:40px;
		line-height: 45px;
		margin-top: 0px;
	}

	#page1 .subtitle {
		font-size: 16px;
		line-height: 20px;
		width: 173px;
	}

	#page1 .description {
		margin-bottom: 10px; //change this
	}

	#page1 .description p {
		width: auto;
		max-width:300px;
		margin-top:60px;
		margin-bottom:30px;
		padding: 10px;
		margin: 10px auto 0px auto;
		font-size: 15px;
		line-height: 18px;
	}

	#page1 .description a {
		font-size: 18px;
	}

	#page3 {
		width:160%;
	}

	#page4 {
		left:360%;
	}

	footer {
		height: 50px;
	}

		.footerContainer {
			line-height: 50px;
		}
}

@media(max-width: 400px) {
	.content-box {
		margin-bottom:10px;
	}

	#page1 .picture img {
		width:100px;
	}

	#page1 .name {
		font-size:30px;
		line-height: 50px;
		margin-top: 10px;
	}

	#page1 .subtitle {
		font-size: 15px;
		line-height: 20px;
		width: 160px;
	}

	#page1 .description {
		margin-bottom: 10px; //change this
	}

	#page1 .description p {
		width: auto;
		padding: 10px;
		margin: 10px auto 0px auto;
		font-size: 13px;
		line-height: 14px;
	}

	#page1 .description a {
		font-size: 18px;
	}

	#page3 {
		width:200%;
	}

	#page4 {
		left:400%;
	}
}

