/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	width:100%;
	height:100%;
}

.clearFloat {
	clear: both;
}

/*Grid Implementation*/

.contentContainer { 
	position: relative; 
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12 {
	float: left;
}

.col1 	{ width: 100%; 		}
.col2 	{ width: 50%; 		}
.col3 	{ width: 33.3333%; 	}
.col4 	{ width: 25%; 		}
.col5 	{ width: 20%; 		}
.col6 	{ width: 16.6666%; 	}
.col7 	{ width: 14.2857%; 	}
.col8 	{ width: 12.5%; 	}
.col9 	{ width: 11.1111%; 	}
.col10 	{ width: 10%; 		}
.col11 	{ width: 9.0909%; 	}
.col12 	{ width: 8.3333%; 	}


/*Main Styling*/
body {
	font-family: "Roboto Slab", sans-serif;
	overflow:hidden;

	/*Disable highlighting with this*/
	//width:100%;
	//height:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", sans-serif;
	font-weight: bold;
}

a {
	font-family: "Roboto Slab", sans-serif;
	text-decoration: none;
	color: #6d6d6d;
}

header {
	position:fixed;
	left:0;
	top:0;
	height: 100px;
	width: 100%;
	background:rgba(93,93,93,0.8);
	z-index: 0;
}
	header .logo {
		float:left;
		color: #FFFFFF;
		line-height: 100px;
		font-size: 25px;
		font-size: bold;
		margin-left: 20px;
		cursor:pointer;
	}

		header .logo b:first-child {
			margin-right:-3px;
		}

		header .logo b{
			color: #FFFFFF;
			line-height: 100px;
			font-size: 30px;
		}

	.navContainer {
		float:right;
		margin-right:10px;
	}

	.navContainer li {
		float: left;
		color: #FFFFFF;
		font-size: 15px;
		line-height: 30px;
		list-style: none;
		margin: 36px 0 0 15px;
		padding-right: 15px;
		border-right: 1px solid #FFF;
		cursor:pointer;
	}

		.navContainer li:last-child {
			border-right: none;
		}


.content {
	width:100%;
	height:100%;
}

	.page {
		position:absolute;
		width: 100%;
		height: 1000px;
		z-index:-1;
		list-style: none;
		transition:2s;
	}

	#page1 { 
		background-image:url('images/bg.jpg');
		left:0%;
	}
	#page2 { 
		background-image:url('images/bg2.jpg');
		//background: rgba(255,255,255,1); 
		left:100%;
	}
	#page3 { 
		background-image:url('images/bg3.jpg');
		//background: rgba(255,255,255,1);  
		left:200%;
	}
	#page4 { 
		background-image:url('images/bg4.jpg');
		//background: rgba(255,255,255,1);  
		left:300%;
	}
	#page5 { 
		background: rgba(0,209,164,1); 
		left:400%;
	}
	#page6 { 
		background: rgba(17,209,0,1); 
		left:500%;
	}
	#page7 { 
		background: rgba(174,209,0,1); 
		left:600%;
	}
	#page8 { 
		background: rgba(209,132,0,1); 
		left:700%;
	}


/*PAGE 1 - HOME*/
#page1 .picture {
	margin-top: 100px;
	text-align:center;
}
	
	#page1 .picture img {
		width:180px;
		height:180px;
		border: 5px solid #4d4d4d;
		border-radius: 20px;
	}

#page1 .name {
	font-size: 80px;
	line-height: 90px;
	margin-top:10px;
	text-align:center;
	font-weight: bold;
	color:#3d3d3d;
}

#page1 .subtitle {
	font-size:21px;
	color:#3d3d3d;
	text-align: center;
}

#page1 .description {
	text-align: center;
}

#page1 .description p {
	width: 400px;
	margin: 0 auto;
	margin-top:70px;
	text-align:left;
	font-size: 16px;
	line-height:20px;
}

	#page1 .description a {
		width: 100%;
		font-size: 20px;
	}

footer {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0px;
	height: 70px;
	background:rgba(93,93,93,0.8);
}

@media(max-width: 800px) {
	header {
		height: 80px;
	} 

	footer {
		height: 50px;
	}

	header .logo {
		line-height: 80px;
		font-size: 20px;
		margin-left: 15px;
	}

		header .logo b:first-child {
			margin-right:-3px;
		}

		header .logo b{
			line-height: 80px;
			font-size: 25px;
		}

	.navContainer li {
		font-size: 13px;
		line-height: 25px;
		list-style: none;
		margin: 28px 0 0 15px;
		padding-right: 10px;
	}

}

